html
  head
    title='Docker CI dms Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Dockers!!!
        p Click the button below to head over to Smartronix...
        p 
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Smartronix
        p
        -
          list = ["Smartronix", "CloudAssured", "Synteractive",
                  "AWS", "Microsoft", "News"]
        each item in list
          li= 'a(href='google.com')' + item